@import 'tailwindcss';

:root {
  --background: #f4f4f4;
  --foreground: #1f2937;
  --secondary-background: #ededed;
  --body: #ffffff;
  --border: #d1d5db;
  --secondary-text: #6b7280;
  --button: #4f46e5;
  --secondary-button: #6366f1;
  --positive-feedback: #10b981;
  --negative-feedback: #ef4444;
  --alert: #f59e0b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #f4f4f4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
